#h3{
    width: 100%;
    box-shadow: 10px 10px 10px #e254fa;
    font-size: x-large;
}
.span{
font-size: small;
color: black;
}
#footer{
position: fixed;
bottom: 0;
background-color: grey;
width: 100%;
color: white;
text-align: center;

}
canvas{
    border: black 10px solid;
    border-radius: 30px;
    box-shadow: 10px 10px 10px #47dbfb;

}
